.hero{
    flex: 1 1 100%;
    border-radius: 8px;
    padding: 123px 230px;

}
.main{
    padding-bottom: 52px;
}

.main__wrap{
    flex-direction: column;
}

.main__wrapper{
    display: flex;
    position: relative;
   flex: 0 1 calc(100% - 210px - 10px);
   max-width: 1440px;
   justify-content: center;
   align-items: stretch;
   padding: 20px 0 0 0;
   
}

.hero__data .hero__text{
    font-style: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.hero__data .hero__text span:not(:last-child){
    margin-right: 5px;
}



.faq{
    margin-bottom: 20px;
}

.article ul li::before {
   content: "•";}


.about{
    display: flex;
    flex-direction: column;
    
}   

.about__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 20px;
}

.about__content{
    display: flex;
    padding: 18px 24px 18px 10px;
    
}


.title.high.about__title{
    color:#ffffff;
    margin-bottom: 0;
}

.title.high.about__title::before,
.title.high.about__title::after{
 display: none;
}

.about__button{
    min-width: 127px;
    padding: 14px 36px;
    margin-left: 0;
}


.about__images img{
    display: block;
    /* max-width: 100%; */
    max-width: 230px;
    height: 100%;
    
    
}

.main__arrow-bonus{
    right: 0;
    bottom: -30px;
    border-radius:50%;
    border:1px solid #ffffff;

}

.main{
    display: block;
}

/* ------------app------------------- */
.banner{
    padding: 88px 126px 88px 70px; 
}

.banner__data{
    gap: 20px;
    max-width: 274px;
    /* padding: 88px 70px; */
}

.banner__button-ios, .banner__button-android{
    display: flex;
    min-width: 274px;
    height: 64px;
    border-radius: 16px;
    background: #216F38 ;
    font-size: 16px;
    font-weight: 700;
    white-space: normal;
    padding: 12px 72px 12px 74px;
    margin-right: 0;
    margin-left: 0;
    z-index: 3;
    transition: all 0.5s;
}

.banner__button-android{
    background: #126873;
    padding: 12px 32px 12px 74px;
}

.banner__button-ios:hover, .banner__button-android:hover{
    border: 2px solid #22c99d;
  background: none;
  color: #22c99d;
  
}

.banner__button-ios::before, .banner__button-android::before {
    content:'';
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    right: 12px;
    background: url(../images/apple.svg) no-repeat center center / contain;
    
}

.banner__button-android::before {
    background: url(../images/android.svg) no-repeat center center / contain;
}

.banner__images img{
    display: block;
  width: 100%;
  height: 100%;
  margin: auto;
}
.banner__images{
    position: absolute; 
   
    left: 0;
    bottom: 0;
    right: 0;
    top: 0; 
  
}

.arrow__app{
    right:-10px;
    bottom: -50px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
