body {
  display: block;
  position: relative;
  width: 100%;
  background: #313f4b;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  color: #ffffff;
}

.content {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1130px;
  overflow: hidden;
  border-radius: 8px;
  background: #202a32;
  padding: 32px 20px;
  margin: 0 auto 20px auto;
}

h1,
h2,
h3,
h4,
.title {
  display: block;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: center;
  color: #ffffff;
}

h1,
.title.general {
  text-transform: uppercase;
}

h2,
.title.high {
  display: flex;

  justify-content: left;
  /* align-items: center; */
  font-size: 24px;
  line-height: 28.8px;
  text-align: left;

  text-transform: uppercase;
  color: #2bc69d;
  margin-bottom: 20px;
}

h2::before,
.title.high::before,
h2::after,
.title.high::after {
  content: "";
  display: block;

  position: absolute;
  width: 24px;
  height: 24px;

  background: url(../images/crown.svg) no-repeat center center / contain;
}

h2::before,
.title.high::before {
  left: 0;
}

h2::after,
.title.high::after {
  right: 0;
}

h3,
title.medium {
  font-size: 22px;
  font-weight: 600;
  line-height: 26.4px;
  text-align: left;
}

article > *,
.article > *,
.desk > * {
  margin-top: 20px;
}

article > *:first-child,
.article > *:first-child,
.desk > *:first-child {
  margin-top: 0 !important;
}

article > h2,
.article > h2,
.desk > h2 {
  margin-top: 32px;
}

article > h3,
.article > h3,
.desk > h3 {
  margin-top: 16px;
}

.button {
  position: relative;
  min-width: 240px;
  height: 48px;
  border-radius: 8px;
  background: #22c99d;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.48px;
  text-align: center;
  text-decoration: none;

  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  padding: 14px 83px;
  margin: 0 auto;
  transition: all 0.5s;
}

.button:hover {
  border: 2px solid #22c99d;
  background: none;
  color: #22c99d;
}

.button.outline {
  border: 2px solid #22c99d;
  background: none;
  color: #22c99d;
  padding: 12px 24px;
}

.button.outline:hover {
  background: #22c99d;
  color: #ffffff;
}

.header,
.main,
.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.background {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.background img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.images img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* -----------header----------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#313f4b 0%, #313f4b 20%, #19232d 97%);
  z-index: 100;
}

.header__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 1440px;
  height: 68px;
  border-radius: 0;
  background: linear-gradient(#313f4b 0%, #313f4b 20%, #19232d 97%);
  padding: 14px 40px;
  margin: 0 auto;
}

.logo {
  display: block;
  position: relative;
  flex: 0 0 105px;

  padding: 12px 0;
  margin-right: 124px;
  transition: all 0.5s;
}

.logo:hover {
  transform: scale(1.2);
}

.logo img {
  display: block;
  position: relative;
  width: auto;
  max-height: 40px;
  margin: 0 auto;
}

.menu {
  display: block;
  position: relative;
}

.menu ul {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: center;
  gap: 40px;
}

.menu ul li a {
  display: block;
  font-weight: 700;
  color: #ffffff;
  padding: 20px 0;
  transition: all 0.5s;
}

.menu ul li a:hover {
  color: #22c99d;
}
.header__flag {
  display: flex;
  flex-direction: row;
  gap: 6px;

  margin-right: 16px;
  margin-left: auto;
  transition: all 0.5s;
}

.header__flag span {
  padding: 16px 0;
}
.header__flag span:hover:last-child {
  color: #22c99d;
}

.header__flag img {
  display: block;
  width: 24px;
  height: 24px;
}

.header__flag img:hover {
  transform: scale(1.1);
}

.header__flag span:last-child {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.button.outline {
  min-width: 97px;

  text-transform: capitalize;
  margin: 0;
  margin-right: 16px;
}

.header__button {
  min-width: 102px;
  text-transform: capitalize;
  padding: 12px 23px;
  margin: 0;
}

.header__menu-btn {
  display: none;
}

/* -------------- header__btn-menu-----------*/

.header__btn-menu {
  display: block;
  flex: 0 1 auto;
  min-width: 0;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background: linear-gradient(#313f4b 0%, #313f4b 20%, #19232d 97%);
  padding: 15px;
  margin-left: 15px;
  order: 3;
}

svg {
  position: relative;
  fill: #ffffff;
  line-height: 1;
  vertical-align: 1;
}

.header__btn-menu {
  display: none;
}

/* -----------main-------------- */
.main {
  max-width: 1440px;
  padding-bottom: 62px;
  margin-bottom: 20px;
}

.main__wrap {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex: 1 1 calc(100% - 210px - 10px);
  top: 68px;
  max-width: 1440px;
  padding: 20px 40px 0;
  margin: 0 auto;
}

.sidebar {
  
  flex: 0 0 210px;
  border-radius: 8px;
  margin-right: 20px;
}

.sidebar__button {
  position: relative;
  display: inline-block;
  min-width: 210px;
  min-height: 50px;
  background: linear-gradient(108deg, #01dcda 0%, #7f30cb 100%);
  padding: 16px 47px 16px 60px;
  margin: 0;
  overflow: hidden;
}

.sidebar__img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.sidebar__img img {
  position: absolute;
  max-width: 70px;
  height: auto;
}

.sidebar__img img:first-child,
.sidebar__img img:last-child {
  left: 0;
  bottom: 0;
}

.sidebar__sport,
.sidebar__nav {
  border-radius: 8px;
  background: #202a32;
  padding: 8px 10px;
}

.sidebar__sport {
  margin: 20px 0;
}

.sidebar__desc,
.sidebar__description {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  color: #949494;
  padding: 8px 16px 8px 0;
  cursor: pointer;
  transition: all 0.5s;
}

.sidebar__desc:hover,
.sidebar__description:hover {
  color: #2bc69d;
}

.sidebar__desc::after,
.sidebar__description::after {
  content: "";
  position: relative;
  position: absolute;
  right: 0;
  top: 12px;
  width: 16px;
  height: 16px;
  background: url(../images/up__before.svg) no-repeat center center / contain;
}

.sidebar__desc.active::after,
.sidebar__description.active::after {
  transform: rotate(180deg);
}

.sidebar__menu li + li,
.sidebar__list li + li {
  margin-top: 12px;
}

.sidebar__menu li a,
.sidebar__list li a {
  display: block;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.5s;
}
.sidebar__menu li a:hover {
  color: #2bc69d;
}

.sidebar__menu li a img {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  vertical-align: middle;
}

.sidebar__menu li a:hover img {
  background: #2bc69d;
  border-radius: 50%;
}

.sidebar__list li a::before {
  content: "•";
  position: absolute;
  left: 0;
  transition: all 0.5s;
}

.sidebar__list li a {
  position: relative;
  padding: 0 0 0 15px;
  white-space: nowrap;
  transition: all 0.5s;
}

.sidebar__list li a:hover::before,
.sidebar__list li a:hover {
  color: #2bc69d;
}

.sidebar__list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #365ce0 0%, #b436e0 100%);
  transition: all 0.5s;
}

.sidebar__list li a:hover::after {
  width: 100%;
}

.sidebar__menu,
.sidebar__list {
  display: none;
}

.sidebar__menu.active,
.sidebar__list.active {
  display: block;
}

.page__nav {
  padding: 20px;
}
/* ----------hero----------- */
.hero {
  position: relative;
  display: flex;
  
  background: linear-gradient(0deg, #1e2830 18%, #1c785d 100%);

  padding: 89px 31px;
}

.hero__data {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 505px;
  z-index: 2;
}

.hero__rating {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.hero__rating p {
  margin-right: 10px;
}

.hero__title {
  text-align: left;
  white-space: nowrap;
  margin-bottom: 16px;
}

.hero__data p {
  margin-bottom: 16px;
}

.hero__button {
  margin-left: 0;
  z-index: 3;
}

.hero__img,
.banner__img {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 1;
  /* flex: 1 1 350px; */
}

.hero__img img,
.banner__img img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}
/* -------features------------- */

.features__title,
.article__title,
.ratings__title,
.faq__title {
  width: fit-content;
  padding: 0 30px;
}

.features__wrap {
  display: flex;
}
.features__list,
.features__table {
  width: 50%;
  padding: 8px 20px;
}

.features__list {
  margin-right: 20px;
}

/* --------- */
.features__list,
.features__table,
.ratings__list,
.faq__answer,
.faq__item,
.banner,
.sidebar__nav {
  position: relative;
  border-radius: 6px;
  background: linear-gradient(45deg, #365ce0 0%, #b436e0 100%);
  z-index: 1;
}

.features__list::before,
.features__table::before,
.ratings__list::before,
.faq__answer::before,
.faq__item::before,
.banner::before,
.sidebar__nav::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: #202a32;
  z-index: -1;
}

/* --------- */

.features__list {
  margin-right: 20px;
}

.features__list li {
  position: relative;
  font-weight: 700;
  padding: 9px 20px 9px 44px;
}

.features__list li + li,
.features__table tr + tr {
  margin-top: 4px;
}

.features__table tr {
  font-weight: 700;
  display: flex;
  padding: 9px 0;
}

.features__table td {
  width: 50%;
}

.features__list li::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/star.svg) no-repeat center center / contain;
}
/* -----------------banner------------ */

.banner {
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #365ce0 0%, #b436e0 100%);
  padding: 87px 142px;
}

.title.high.banner__title::before,
.title.high.banner__title::after {
  display: none;
}

.banner__data {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 443px;
  text-align: center;

  z-index: 2;
}

.banner .banner__title {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-bottom: 16px;
}

.banner__title span {
  font-size: 20px;
  margin-top: 16px;
}

.banner__button {
  margin-left: 0;
  z-index: 3;
}
/* ------article------------- */
.article__button {
  display: inline-block;
  margin-top: 16px;
}

.article ul li {
  position: relative;
  padding: 0 20px;
}

.article ul li::before {
  content: "-";
  display: block;
  position: absolute;
  left: 0;
}

.article__subtitle {
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
}

.article p a {
  color: #2bc69d;
}

/* -----------ratings---------- */
.ratings__wrap {
  display: flex;
  gap: 20px;
}
.ratings ul {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  width: calc(50% - 10px);
  gap: 8px;
  padding: 8px;
}
.ratings ul li {
  display: flex;

  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 8px 12px;
}

.ratings ul li img {
  width: 250px;
  height: 16px;
}

.ratings__button {
  display: inline-block;
  margin-top: 16px;
}
.ratings ul li p {
  font-size: 14px;
  font-weight: 700;
  margin-right: auto;
}

.ratings ul li span {
  font-size: 15px;
  font-weight: 700;
  margin-left: 30px;
}

.ratings ul:first-child li:nth-child(2) span {
  margin-left: 20px;
}

.ratings ul li span > *:first-child {
  color: #2bc69d;
}
/* ------------faq-------- */
.faq {
  margin-bottom: 82px;
}
.faq__subtitle {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  border: 2px solid #008795;
  border-radius: 6px;
  background: linear-gradient(#076766 3%, #142e33 100%);
  padding: 16px 20px;
}

.faq__item {
  white-space: wrap;
}

.faq__subtitle::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 23px;
  right: 19px;
  width: 24px;
  height: 24px;
  background: url(../images/faqDown.svg);
}

.faq__subtitle.active::after {
  background: url(../images/faqUp.svg);
}

.faq__subtitle.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.js-expand-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq__answer {
  /* border: 2px solid #008795; */
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 16px 12px;
}

.faq ul li + li {
  margin-top: 16px;
}

.main__arrow {
  display: block;
  position: absolute;
  /* position: fixed; */
  width: 42px;
  height: 42px;
  right: 40px;
  bottom: 10px;
  background: url(../images/Arrow.svg) no-repeat center center / contain;
  z-index: 100;
}
/* -------------footer------------ */

.footer {
  background: #10171d;
}

.footer__content {
  max-width: 1440px;
  padding: 20px 40px 20px 280px;
  margin: auto;
}

.footer__menu {
  margin-bottom: 16px;
}

.footer__menu ul {
  justify-content: space-evenly;
}

.footer__menu ul li a {
  font-size: 18px;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background: rgba(53, 68, 78, 0.2);
  padding: 20px 32px;
  margin-bottom: 24px;
}

.footer__info-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer__info-cards li a {
  display: block;

  padding: 10px 0;
}
.footer__info-cards li a:not(:first-child) {
  width: 30px;
  height: 30px;
}

.footer__info p {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #94aeb4;
}

.footer__button {
  display: inline-block;
  min-width: 111px;
  max-height: 40px;

  padding: 11.5px 14.32px;
}
.footer__wrap {
  display: flex;
}

.footer__logo {
  margin-right: 32px;
}

.footer__text {
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.footer__text p {
  margin-bottom: 12px;
}
